.input-modal{
    height: 2.75rem;
    padding: 0 10px;
    border: 1.5px solid var(--color-grey-3);
    border-radius: var(--radius-1);
}

.input-modal:hover{
    border: 1.5px solid var(--color-brand-1);
}